@page "/logout"
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage

<PageTitle>logged out</PageTitle>

<h1>You have been logged out!</h1>

@code {


    protected override async Task OnInitializedAsync()
    {
        base.OnParametersSet();

        //Log out on project start to allow for easy testing of the auth functionality. 
        await localStorage.RemoveItemAsync("JWT Token");
        await localStorage.RemoveItemAsync("User Details");
    }
}